- unless @ticket.closed?
  = simple_form_for @ticket,  html: { novalidate: false } do |f|

    .large-6.medium-9.small-12.columns
      .row
        = f.input :status, collection: Status.all.map {|t| [t.name, t.name]}, wrapper_html: {class: "large-6 medium-6 small-12 columns"}
        = f.input :user, label: 'Re-assign Ownership', collection: User.all.map {|t| [t.email, t.email]}, wrapper_html: {class: "large-6 medium-6 small-12 columns end"}

      
      = f.simple_fields_for :replies, @ticket.replies.build do |reply_form|
        = reply_form.input :note, label: 'Work Note', as: :text, placeholder: 'Fill in Ticket Note'
        

        = f.button :submit, "Update Ticket", class: "button btn"



